{% load i18n %}
<li class="menu-title">
  <span>{% translate "Application" %}</span>
</li>
<li>
  <a href="{% url 'web:home' %}" {% if active_tab == 'dashboard' %}class="menu-active"{% endif %}>
    <i class="fa fa-chart-line h-4 w-4"></i>
    {% translate "Dashboard" %}
  </a>
</li>
{% include "web/components/team_nav.html" %}
{% if not user.is_anonymous %}
<li class="menu-title">
  <span>{% translate "My Account" %}</span>
</li>
<li>
  <a href="{% url 'users:user_profile' %}" {% if active_tab == 'profile' %}class="menu-active"{% endif %}>
    <i class="fa fa-user h-4 w-4"></i>
    {% translate "Profile" %}
  </a>
</li>
{% if user.has_usable_password %}
<li>
  <a href="{% url 'account_change_password' %}" {% if 'accounts/password/change' in request.path %}class="menu-active"{% endif %}>
    <i class="fa fa-unlock-alt h-4 w-4"></i>
    {% translate "Change Password" %}
  </a>
</li>
{% endif %}
<li>
  <form method="post" action="{% url 'account_logout' %}" class="m-0 p-0">
    {% csrf_token %}
    <button type="submit" class="w-full text-left flex items-center gap-2 py-2 px-3 hover:bg-base-300 rounded-lg">
      <i class="fa fa-sign-out h-4 w-4"></i>
      {% translate "Sign out" %}
    </button>
  </form>
</li>
{% endif %}
{% if user.is_superuser %}
<li class="menu-title">
  <span>{% translate "Admin" %}</span>
</li>
<li>
  <a href="{% url 'dashboard:dashboard' %}" {% if active_tab == 'project-dashboard' %}class="menu-active"{% endif %}>
    <i class="fa fa-bar-chart-o h-4 w-4"></i>
    {% translate "Project Dashboard" %}
  </a>
</li>
<li>
  <a href="{% url 'support:hijack_user' %}" {% if active_tab == 'support' %}class="menu-active"{% endif %}>
    <i class="fa fa-user-secret h-4 w-4"></i>
    {% translate "Impersonate a User" %}
  </a>
</li>
{% endif %}
