<details class="mx-2 dropdown dropdown-end" x-data="{}">
  <summary class="btn btn-ghost btn-sm btn-circle" @click.outside="$el.parentElement.removeAttribute('open')">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" width="24" height="24">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364l-.707-.707M6.343 6.343l-.707-.707m12.728 0l-.707.707M6.343 17.657l-.707.707M16 12a4 4 0 11-8 0 4 4 0 018 0z" class="dark:hidden" />
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z" class="hidden dark:block" />
    </svg>
  </summary>
  <ul class="menu dropdown-content bg-base-100 rounded-box z-1 w-52 p-2 shadow-sm">
    <li><button @click="localStorage.setItem('theme', '{{ light_theme|default:'light' }}'); syncDarkMode(); $el.parentElement.parentElement.removeAttribute('open');">Light</button></li>
    <li><button @click="localStorage.setItem('theme', '{{ dark_theme|default:'dark' }}'); syncDarkMode(); $el.parentElement.parentElement.removeAttribute('open');">Dark</button></li>
    <li><button @click="localStorage.setItem('theme', 'system'); syncDarkMode(); $el.parentElement.parentElement.removeAttribute('open');">System</button></li>
  </ul>
</details>
