{% load i18n %}
{% load team_tags %}
{% if request.team %}
  <li>
    <a href="{% url 'metrics:dashboard_redirect' %}" {% if active_tab == 'metrics' %}class="menu-active"{% endif %}>
      <i class="fa fa-chart-bar h-4 w-4"></i>
      {% translate "Analytics" %}
    </a>
  </li>
  <li>
    <a href="{% url 'pullrequests:pr_list' %}" {% if active_tab == 'pull_requests' %}class="menu-active"{% endif %}>
      <i class="fa fa-code-pull-request h-4 w-4"></i>
      {% translate "Pull Requests" %}
    </a>
  </li>
  <li>
    <a href="{% url 'notes:my_notes' %}" {% if active_tab == 'notes' %}class="menu-active"{% endif %}>
      <i class="fa fa-sticky-note h-4 w-4"></i>
      {% translate "My Notes" %}
    </a>
  </li>
  <li>
    <a href="{% url 'integrations:integrations_home' %}" {% if active_tab == 'integrations' %}class="menu-active"{% endif %}>
      <i class="fa fa-plug h-4 w-4"></i>
      {% translate "Integrations" %}
    </a>
  </li>
  {% if request.user|is_admin_of:request.team %}
  <li>
    <a href="{% url 'single_team:manage_team' %}" {% if active_tab == 'team_settings' %}class="menu-active"{% endif %}>
      <i class="fa fa-cog h-4 w-4"></i>
      {% translate "Team Settings" %}
    </a>
  </li>
  <li>
    <a href="{% url 'subscriptions_team:subscription_details' %}" {% if active_tab == 'subscription' %}class="menu-active"{% endif %}>
      <i class="fa fa-credit-card h-4 w-4"></i>
      {% translate "Billing" %}
    </a>
  </li>
  {% endif %}
{% endif %}
