{% load i18n %}
{% load team_tags %}
{% if request.team %}
  <li>
    <a href="{% url 'integrations:integrations_home' request.team.slug %}" {% if active_tab == 'integrations' %}class="menu-active"{% endif %}>
      <i class="fa fa-plug h-4 w-4"></i>
      {% translate "Integrations" %}
    </a>
  </li>
  {% if request.user|is_admin_of:request.team %}
  <li>
    <a href="{% url 'single_team:manage_team' request.team.slug %}" {% if active_tab == 'team_settings' %}class="menu-active"{% endif %}>
      <i class="fa fa-cog h-4 w-4"></i>
      {% translate "Team Settings" %}
    </a>
  </li>
  <li>
    <a href="{% url 'subscriptions_team:subscription_details' request.team.slug %}" {% if active_tab == 'subscription' %}class="menu-active"{% endif %}>
      <i class="fa fa-credit-card h-4 w-4"></i>
      {% translate "Billing" %}
    </a>
  </li>
  {% endif %}
{% endif %}
