{% extends "web/app/app_base.html" %}
{% load static %}
{% load i18n %}
{% block app %}
<section class="app-card">
  {% include 'subscriptions/components/subscription_hero.html' %}
  <hr>
  <stripe-pricing-table
    pricing-table-id="{{ stripe_pricing_table_id }}"
    publishable-key="{{ stripe_public_key }}"
    client-reference-id="{{ client_reference_id }}"
  >
  </stripe-pricing-table>
</section>
{% endblock %}
{% block page_js %}
  <script async src="https://js.stripe.com/v3/pricing-table.js"></script>
{% endblock %}
