{% extends "web/base.html" %}
{% load static %}
{% block body %}

{% include "web/components/hero_terminal.html" %}
{% include "web/components/how_it_works.html" %}
{% include "web/components/what_you_get.html" %}
{% include "web/components/data_transparency.html" %}
{% include "web/components/security.html" %}
{% include "web/components/built_with_you.html" %}
{% include "web/components/problem_discovery.html" %}
{% include "web/components/faq.html" %}
{% include "web/components/cta_terminal.html" %}

{% endblock %}
