{#- PR Analysis System Prompt (v{{ version }}) -#}
{% include 'sections/intro.jinja2' %}

{% include 'sections/ai_detection.jinja2' %}

{% include 'sections/tech_detection.jinja2' %}

{% include 'sections/health_assessment.jinja2' %}

{% include 'sections/response_schema.jinja2' %}

{% include 'sections/definitions.jinja2' %}

{% include 'sections/enums.jinja2' -%}