{% load i18n %}
<div class="table-responsive">
  <table class="table pg-table">
    <thead>
    <tr>
      <th class="pg-text-left">{% translate "Name" %}</th>
      <th class="pg-text-left">{% translate "Department" %}</th>
      <th class="pg-text-right">{% translate "Salary" %}</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    {% for employee in employees %}
      <tr>
        <td>{{ employee.name }}</td>
        <td>{{ employee.get_department_display }}</td>
        <td class="pg-text-right">${{ employee.salary }}</td>
        <td class="pg-inline-buttons pg-justify-content-end">
          <a href="{% url 'pegasus_employees:django_edit_employee' employee.id %}">
            <div class="pg-button-secondary">
              <span class="pg-icon"><i class="fa fa-edit"></i></span>
              <span class="pg-hidden-mobile-inline">{% translate "Edit" %}</span></div>
          </a>
          <form method="post" action="{% url 'pegasus_employees:django_delete_employee' employee.id %}">
            {% csrf_token %}
            <button class="pg-button-danger" type="submit" value="">
              <span class="pg-icon"><i class="fa fa-times"></i></span>
              <span class="pg-hidden-mobile-inline">{% translate "Delete" %}</span>
            </button>
          </form>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
