{#- PR Analysis System Prompt (v{{ version }}) -#}
{% include 'pr_analysis/sections/intro.jinja2' %}

{% include 'pr_analysis/sections/ai_detection.jinja2' %}

{% include 'pr_analysis/sections/tech_detection.jinja2' %}

{% include 'pr_analysis/sections/summary_guidelines.jinja2' %}

{% include 'pr_analysis/sections/health_assessment.jinja2' %}

{% include 'pr_analysis/sections/response_schema.jinja2' %}

{% include 'pr_analysis/sections/definitions.jinja2' %}

{% include 'pr_analysis/sections/enums.jinja2' -%}