{#- Insight Generation System Prompt -#}
{#- Uses include_copilot variable to conditionally render Copilot sections -#}
{% include 'insight/sections/identity.jinja2' %}

{% include 'insight/sections/output_format.jinja2' %}

{% include 'insight/sections/mention_syntax.jinja2' %}

{% include 'insight/sections/writing_rules.jinja2' %}
{% if include_copilot %}

{% include 'insight/sections/copilot_guidance.jinja2' %}
{% endif %}

{% include 'insight/sections/action_types.jinja2' %}

{% include 'insight/sections/examples.jinja2' -%}
